.navbar {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    z-index: 9;
    position: sticky;
  }
  
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: wider;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  .navlinks {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 4rem;
    text-decoration: none;
    color: #64c064;
  }
  
  .navlink {
    color: #64c064;
  }
  