.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.container h2{
    text-align: center;
    color: white;
}