.container {
  min-height: 90vh;
  max-width: 1200px;
  margin: auto;
  /* background-color: aliceblue; */
}

.cardwrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 1rem;
  gap: 2rem;
  justify-content: center;
}

.card {
  width: 200px;
  height: 350px;
  background-color: rgba(0, 40, 75, 0.236);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem;
  position: relative;
}

.imgcontainer {
  width: 165px;
  height: 165px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(12, 46, 75);
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  color: white;
  gap: 0.4rem;
  height: fit-content;
}

.btn {
  position: absolute;
  bottom: 10px;
  width: 100%;
  align-items: flex-end;
}
